<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Title -->
    <title>SongZila</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico'%}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <span>Wait, please...</span>
        </div>
    </div>
    <!-- /Preloader -->

    <!-- Top Search Area Start -->
    <div class="top-search-area">
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="{% url 'mysongs:filter_songs'%}" method="get">
                            <input type="search" name="search" class="form-control" placeholder="Type keywords and hit enter...">
                            <input type="submit" value="Search" class="btn btn-success"/>
                        </form>
                        <!-- Search Button -->
                        <div class="search-btn"><i class="icon_search"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <form action="{% url 'mysongs:uslogin'%}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="search" name="un" class="form-control" placeholder="Username...">
                            </div>
                            <div class="form-group">
                                <input type="password" name="pwd" class="form-control" placeholder="Password...">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-success">
                            </div>
                            <div class="form-group">
                                <span>Don't Have an Account?</span>
                                <a href="{% url 'mysongs:registerView'%}">Register Now</a>
                            </div>
                        </form>
                        <!-- Search Button -->
                        <div class="search-btn"><i class="icon_search"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Close Button -->
                        <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <!-- Form -->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <strong class="float-left">Full Name</strong>
                                <span class="float-right">{{profile.user.first_name}}</span>
                            </li>
                            <li class="list-group-item">
                                <strong class="float-left">Email</strong>
                                <span class="float-right">{{profile.user.email}}</span>
                            </li>
                            <li class="list-group-item">
                                <strong class="float-left">City</strong>
                                <span class="float-right">{{profile.city}}</span>
                            </li>
                            <li class="list-group-item">
                                <span class="float-right">
                                    <a href="{% url 'mysongs:uslogout'%}" class="btn btn-danger">Log Out</a>
                                </span>
                            </li>
                        </ul>
                        <!-- Search Button -->
                        <div class="search-btn"><i class="icon_search"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Search Area End -->

    <!-- Social Share Area Start -->
    <div class="razo-social-share-area">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube-play"></i></a>
        <a href="#" class="ss-close-btn"><i class="arrow_right"></i></a>
    </div>
    <!-- Social Share Area End -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="razoNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'index'%}">SongZila</a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li><a href="{% url 'index'%}">Home</a></li>
                                    <li><a href="#">Languages</a>
                                        <ul class="dropdown">
                                            {% for i in all_lang %}
                                            <li><a href="{% url 'mysongs:filter_songs'%}?name={{i.name}}">-{{i.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'mysongs:filter_songs'%}">All Songs</a></li>
                                    <li><a href="{% url 'mysongs:all_albums'%}">Albums</a></li>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'mysongs:blogView'%}">Create Blog</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'mysongs:blog'%}">Blog</a></li>
                                    <li><a href="{% url 'mysongs:contact'%}">Contact Us</a></li>
                                </ul>

                                <!-- Share Icon -->
                                <div class="social-share-icon">
                                    <i class="social_share"></i>
                                </div>

                                <!-- Search Icon -->
                                <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                                    <i class="fas fa-search"></i>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="search-icon" data-toggle="modal" data-target="#profileModal">
                                    <div class="">
                                        <img src="/media/{{profile.profile_pic}}" class="rounded-circle" style="height:40px;width:40px;">
                                    </div>
                                </div>
                                {% else %}
                                <div class="search-icon" data-toggle="modal" data-target="#loginModal">
                                    <i class="fas fa-user text-light"></i>
                                </div>
                                {% endif %}
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    {% block body %}
    {% endblock %}
    <!-- Footer Area Start -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-80-0">
            <div class="container">
                <div class="row justify-content-between">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Footer Logo -->
                            <a href="#" class="footer-logo"><img src="{% static 'img/core-img/logo2.png'%}" alt=""></a>

                            <p class="mb-30">
                                Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything
                            </p>

                            <!-- Footer Content -->
                            <div class="footer-content">

                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="icon_pin"></i>
                                    </div>
                                    <div class="text">
                                        <p>MIMIT Malout</p>
                                    </div>
                                </div>

                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="icon_phone"></i>
                                    </div>
                                    <div class="text">
                                        <p>+91-9877352800</p>
                                    </div>
                                </div>

                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="icon_mail_alt"></i>
                                    </div>
                                    <div class="text">
                                        <p>chetanrakhra@gmail.com</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                        <div class="single-footer-widget mb-80">

                            <!-- Widget Title -->
                            <h4 class="widget-title">SonZila Languages</h4>
                            {% for i in all_lang %}
                            <!-- Single Twitter Feed -->
                            <div class="single-twitter-feed d-flex">
                                <div class="tweet">
                                    <p><a href="{% url 'mysongs:filter_songs'%}?name={{i.name}}">{{i.name}}</a></p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-md-4 col-xl-3">
                        <div class="single-footer-widget mb-80">
                            <!-- Widget Title -->
                            <h4 class="widget-title">All Categories</h4>

                            <!-- Instagram Area -->
                            <div class="razo-instagram-area d-flex flex-wrap">
                                
                                {% for i in all_type_nine %}
                              
                                <div class="single-instagram-feed">
                                    <a href="{% url 'mysongs:filter_songs'%}?category={{i.title}}"><img src="/media/{{i.cover}}" alt=""></a>
                                </div>                          
                               {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Footer Area End -->
        
        <!-- Copywrite Text -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    
    <!-- All JS Files -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <!-- Popper -->
    <script>
        function songplaying(id){
            alert(id);
        }
    </script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/razo.bundle.js'%}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js'%}"></script>

</body>

</html>