{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<!-- Blog Details Post Thumbnail Area Start -->
<section class="blog-details-post-thumbnail-area bg-overlay bg-img jarallax" style="background-image: url({% static 'img/bg-img/53.jpg'%});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.274080945738!2d74.49575501464116!3d30.200723918128926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3917112d96df784d%3A0xddb995e1250d51d0!2sMalout+Institute+of+Management+and+Information+Technology!5e0!3m2!1sen!2sin!4v1563260543504!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>        
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Post Thumbnail Area End -->
{% if status %}
    <script>
        alert('{{status}}');
    </script>
{% endif %}
<!-- Blog Details Area Start -->
<section class="blog-details-area section-padding-80">
    <div class="container">
        <!-- Post Details Text -->
        <div class="post-details-text">
            <div class="row justify-content-center">
                <div class="col-10 col-md-10 col-lg-9">
                    <!-- Leave A Reply -->
                    <div class="razo-contact-form">
                        <h2 class="mb-4">Leave A Feedback</h2>

                        <!-- Form -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="name" class="form-control mb-30" placeholder="Name" minlength="3" pattern="[A-Za-z\s]+" title="Only Characters with white space allowed" required>
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" class="form-control mb-30" placeholder="Email" required>
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Comment" required></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn razo-btn btn-3 mt-15">Post Feedback</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog Details Area End -->
{% endblock %}